.layout {
	background: var(--color-background);
	max-width: 1200px;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	@media (max-width: 925px) {
		min-height: 75vh;
	}
}

.content {
	flex: 1;
	min-height: 75vh;
	overflow-y: auto;
	position: relative;
}
