.layout {
	background: var(--color-background);
	max-width: 1200px;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1;
	min-height: 0;
	overflow-y: auto;
  position: relative;
}
