.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;

  &.fullWidth {
    width: 100%;
  }
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #253017;

  .required {
    color: #EF4444FF;
    margin-left: 4px;
  }
}

.inputContainer {
  position: relative;
  display: inline-flex;
  align-items: center;

  .fullWidth & {
    width: 100%;
  }
}

.input {
  border-radius: 8px;
  font-family: inherit;
  font-size: 18px;
  border: 1px solid #69735D;
  transition: all 0.2s ease;

  &:focus {
    outline: none;
    border-color: #69735D;
    box-shadow: 0 0 0 3px rgba(85, 94, 75, 0.1);
  }

  &.disabled {
    background-color: #f3f4f6;
    cursor: not-allowed;
    opacity: 0.7;
  }

  &::placeholder {
    color: #69735D;
  }

  &.error {
    border-color: #ef4444;

    &:focus {
      border-color: #ef4444;
      box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.1);
    }
  }

  .fullWidth & {
    width: 100%;
  }
}

.leftIcon,
.rightIcon {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #69735D;
  pointer-events: none;
}

.leftIcon {
  pointer-events: none;
}

.rightIcon {
  pointer-events: auto;
}

.passwordToggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 18px;
  pointer-events: auto;

  &:focus-visible {
    outline: 2px solid #69735D;
    border-radius: 4px;
  }
}

.helperText {
  font-size: 12px;
  color: #69735D;
  margin: 0;
}

.errorText {
  font-size: 12px;
  color: #ef4444;
  margin: 0;
}