.header {
	position: relative;
	width: 100%;
	height: 60px;
}

.button {
	position: fixed;
	top: 15px;
	display: flex;
	background: transparent;
	border-radius: 36px;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	box-shadow: var(--shadow-card);
	border: 1px solid var(--color-card);
	transition: all 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
	z-index: 1;
}

.closeButton {
	padding: 8px;
	top: 15px;
	left: 25px;
	border-radius: 50%;
}

.arrowIcon {
	rotate: 180deg;
}

.logoContainer {
	left: 50%;
	transform: translateX(-50%);
	padding: 5px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
}

.logoLight {
	fill: #abd27a;
	stroke: #253017;
}

.logoDark {
	fill: #abd27a;
	stroke: none;
}

.logoTitle {
	font-family: var(--font-heading);
	font-weight: var(--font-medium);
	font-size: var(--text-h1-size-mobile);
	letter-spacing: var(--letter-spacing);
	color: var(--color-text);
}
