.container {
	width: 100%;
	max-width: 500px;
	margin: auto;
}

.regForm {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.nextButton {
	width: 100%;
	margin-top: 10px;

	@media (max-width: 375px) {
		width: 100%;
	}
}

.auth {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin-top: 20px;
	padding-top: 16px;
}

.authText {
	color: var(--color-text);
	margin: 0;
}

.link {
	text-decoration: none;
	display: flex;
	color: var(--color-caption);
	font-size: var(--text-body-size);
	font-weight: var(--font-medium);
	transition: opacity 0.2s;

	&:hover {
		opacity: 0.8;
		text-decoration: underline;
	}
}

@media (max-width: 768px) {
	.container {
		padding: 16px;
	}

	.regForm {
		gap: 10px;
	}
}
