/* Yandex */

@font-face {
	font-family: 'yandex';
	src: url('@fonts/font-files/yandex/YandexSansText-RegularItalic.woff2')
			format('woff2'),
		url('@fonts/font-files/yandex/YandexSansText-RegularItalic.woff')
			format('woff'),
		url('@fonts/font-files/yandex/YandexSansText-RegularItalic.ttf')
			format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'yandex';
	src: url('@fonts/font-files/yandex/YandexSansText-Regular.woff2')
			format('woff2'),
		url('@fonts/font-files/yandex/YandexSansText-Regular.woff') format('woff'),
		url('@fonts/font-files/yandex/YandexSansText-Regular.ttf')
			format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'yandex';
	src: url('@fonts/font-files/yandex/YandexSansText-Bold.woff2') format('woff2'),
		url('@fonts/font-files/yandex/YandexSansText-Bold.woff') format('woff'),
		url('@fonts/font-files/yandex/YandexSansText-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'yandex';
	src: url('@fonts/font-files/yandex/YandexSansText-Medium.woff2')
			format('woff2'),
		url('@fonts/font-files/yandex/YandexSansText-Medium.woff') format('woff'),
		url('@fonts/font-files/yandex/YandexSansText-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* Roboto */

@font-face {
	font-weight: 300;
	font-family: 'Roboto';
	font-style: normal;
	font-display: swap;
	src: url('@fonts/font-files/roboto/Roboto-Light.woff2') format('woff2'),
		url('@fonts/font-files/roboto/Roboto-Light.woff') format('woff'),
		url('@fonts/font-files/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Roboto';
	font-style: normal;
	font-display: swap;
	src: url('@fonts/font-files/roboto/Roboto-Regular.woff2') format('woff2'),
		url('@fonts/font-files/roboto/Roboto-Regular.woff') format('woff'),
		url('@fonts/font-files/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-family: 'Roboto';
	font-style: normal;
	font-display: swap;
	src: url('@fonts/font-files/roboto/Roboto-Bold.woff2') format('woff2'),
		url('@fonts/font-files/roboto/Roboto-Bold.woff') format('woff'),
		url('@fonts/font-files/roboto/Roboto-Bold.ttf') format('truetype');
}
