.section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 0 20px 20px;
}

.errorBanner {
	position: relative;
	z-index: 1;
	background-color: var(--color-card);
	color: var(--color-alarm);
	border-radius: 12px;
	border: 1px solid var(--color-accent);
	font-size: var(--text-body-size);
	font-weight: var(--font-regular);
	font-family: var(--font-body);
	letter-spacing: 0.02em;
	text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
	font-family: var(--font-body);
	font-size: var(--text-h2-size);
	font-weight: var(--font-medium);
	color: var(--color-tetx);
	letter-spacing: 0.02em;
}

.position {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.positionGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @media (max-width: 1075px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
