.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 12;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 16px;
  bottom: 70px;
  right: 25px;
  border-radius: 12px;
  z-index: 13;
  min-width: 200px;
  overflow: hidden;
  padding: 12px 20px;
  background-color: var(--color-card);
}

.header {
  position: relative;
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  font-size: var(--text-h3-size-mobile);
  font-family: var(--font-body);
  font-weight: var(--font-medium);
  color: var(--color-text);
  letter-spacing: 0.02em;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--text-body-size-mobile);
  font-family: var(--font-body);
  font-weight: var(--font-regular);
  color: var(--color-text);
  text-decoration: none;
  border: none;
  background-color: transparent;
}